$--swiper-navigation-size: 44px;
$--swiper-theme-color: #007aff;
$--PAA_Negative: #ff3d4d;
$--PAA_Positive: #3ac270;
$--PAA_Warning: #ffa64d;
$--PAA_Brand_Primary: #f53;
$--PAA_Brand_Secondary: #276460;
$--PAB_Negative_Tinted: #ff3d4d29;
$--PAB_Negative_Tinted_Lighter: #ff3d4d0f;
$--PAB_Positive_Tinted: #3ac27029;
$--PAB_Positive_Tinted_Lighter: #3ac2700f;
$--PAB_Alert_Tinted: #ffa64d29;
$--PAB_Alert_Tinted_Lighter: #ffa64d17;
$--PAB_Brand_Primary_Tint: #ff55330f;
$--PA_Text_Primary: #252129;
$--PA_Text_Secondary: #666;
$--PA_Text_Placeholder: #a2a2a3;
$--PA_Text_Disabled: #dcdbdd;
$--PA_Overlay_Text_Primary: #fff;
$--PA_Overlay_Text_Secondary: hsla(0,0%,100%,0.64);
$--PA_Icon_Primary: #252129;
$--PA_Icon_Secondary: #9f9f9f;
$--PA_Icon_Overlay_Primary: #fff;
$--PA_Border_Default: #ebebeb;
$--PA_Surface_Tinted: #f7f7f7;
$--PA_Surface_Tinted_Lighter: #fbfbfb;
$--PA_Surface_Tinted_3: #ebebeb;
$--Box_Shadow_Elevation_1_Bordered: 0px 0px 0px 1px #f4f5f6,0px 8px 16px rgba(37,33,41,0.04),0px 0px 6px rgba(37,33,41,0.04);
$--Box_Shadow_Elevation_1: 0px 8px 16px rgba(37,33,41,0.04),0px 0px 6px rgba(37,33,41,0.04);
$--Box_Shadow_Elevation_2_Bordered: 0px 0px 0px 1px #f4f5f6,0px 16px 32px rgba(37,33,41,0.08),0px 0px 12px rgba(37,33,41,0.04);
$--Box_Shadow_Elevation_2: 0px 16px 32px rgba(37,33,41,0.08),0px 0px 12px rgba(37,33,41,0.04);
$--Box_Shadow_Elevation_3: 0px 5px 24px hsla(218,5%,42%,0.12),0px 32px 48px -12px hsla(218,5%,42%,0.06);

:root {
  --PAA_Negative: #ff3d4d;
  --PAA_Positive: #3ac270;
  --PAA_Warning: #ffa64d;
  --PAA_Brand_Primary: #f53;
  --PAA_Brand_Secondary: #276460;
  --PAA_Brand_Hover: #ff5533b3;
  --PAA_Brand_Active: #ff5533e6;
  --PAB_Negative_Tinted: #ff3d4d29;
  --PAB_Negative_Tinted_Lighter: #ff3d4d0f;
  --PAB_Positive_Tinted: #3ac27029;
  --PAB_Positive_Tinted_Lighter: #3ac2700f;
  --PAB_Alert_Tinted: #ffa64d29;
  --PAB_Alert_Tinted_Lighter: #ffa64d17;
  --PAB_Brand_Primary_Tint: #ff55330f;
  --PA_Text_Primary: #252129;
  --PA_Text_Secondary: #666;
  --PA_Text_Placeholder: #a2a2a3;
  --PA_Text_Disabled: #dcdbdd;
  --PA_Overlay_Text_Primary: #fff;
  --PA_Overlay_Text_Secondary: hsla(0,0%,100%,.64);
  --PA_Icon_Primary: #252129;
  --PA_Icon_Secondary: #9f9f9f;
  --PA_Icon_Overlay_Primary: #fff;
  --PA_Border_Default: #ebebeb;
  --PA_Surface_Tinted: #f7f7f7;
  --PA_Surface_Tinted_Lighter: #fbfbfb;
  --PA_Surface_Tinted_3: #ebebeb;
  --Box_Shadow_Elevation_1_Bordered: 0px 0px 0px 1px #f4f5f6,0px 8px 16px rgba(37,33,41,.04),0px 0px 6px rgba(37,33,41,.04);
  --Box_Shadow_Elevation_1: 0px 8px 16px rgba(37,33,41,.04),0px 0px 6px rgba(37,33,41,.04);
  --Box_Shadow_Elevation_2_Bordered: 0px 0px 0px 1px #f4f5f6,0px 16px 32px rgba(37,33,41,.08),0px 0px 12px rgba(37,33,41,.04);
  --Box_Shadow_Elevation_2: 0px 16px 32px rgba(37,33,41,.08),0px 0px 12px rgba(37,33,41,.04);
}
// breakpoints
$grid-xs: 375px;
$grid-sm: 414px;
$grid-md: 768px;
$grid-lg: 1024px;
$grid-xl: 1440px;

// Ширина контейнера
$container-sm: 540px;
$container-md: 732px;
$container-lg: 1140px;
$container-xl: 1490px;

$grid-breakpoints: (
  xs: $grid-xs,
  sm: $grid-sm,
  md: $grid-md,
  lg: $grid-lg,
  xl: $grid-xl
);
$container-max-widths: (
  sm: $container-sm,
  md: $container-md,
  lg: $container-lg,
  xl: $container-xl
);

@mixin max-375 {
  @media (max-width: #{$grid-xs}) {
    @content;
  }
}

@mixin max-414 {
  @media (max-width: #{$grid-sm}) {
    @content;
  }
}

@mixin max-768 {
  @media (max-width: #{$grid-md}) {
    @content;
  }
}

@mixin max-1024 {
  @media (max-width: #{$grid-lg}) {
    @content;
  }
}

@mixin max-1440 {
  @media (max-width: #{$grid-xl}) {
    @content;
  }
}

.container {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @include max-1440 {
    max-width: 1224px;
    padding: 0 40px;
  }

  @include max-1024 {
    max-width: 944px;
  }

  @include max-768 {
    padding: 0 32px;
  }

  @include max-414 {
    padding: 0 24px;
  }

  @include max-375 {
    padding: 0 16px;
  }
}

.secondary_container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 15px;
}
