@import 'animate';
@import "variables";

.animate__animated:not(.firstAnimate) {
  -webkit-animation-delay: .4s!important;
  animation-delay: .4s!important;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-15%,0,0);
    transform:translate3d(-15%,0,0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform:translateZ(0)
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-drag: none;
  outline: none;
}

html {
  touch-action: pan-x pan-y;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-y: scroll;
  margin: 0;
  max-width: 100vw;
  line-height: 1.4;
  font-size: 14px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font: inherit;
}

@font-face {
  font-display: swap;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/fonts/Golos-Text_Regular.woff2") format("woff2");
  src: local(""), url("@/assets/fonts/Golos-Text_Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: url("@/assets/fonts/Golos-Text_Medium.woff2") format("woff2");
  src: local(""), url("@/assets/fonts/Golos-Text_Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  src: url("@/assets/fonts/Golos-Text_DemiBold.woff2") format("woff2");
  src: local(""), url("@/assets/fonts/Golos-Text_DemiBold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: url("@/assets/fonts/Golos-Text_Bold.woff2") format("woff2");
  src: local(""), url("@/assets/fonts/Golos-Text_Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Golos";
  font-style: normal;
  font-weight: 800;
  src: url("@/assets/fonts/Golos-Text_Black.woff2") format("woff2");
  src: local(""), url("@/assets/fonts/Golos-Text_Black.woff") format("woff");
}

#app {
  min-height: 100vh;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #0e1420;
  padding: 13px 20px;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  transition: background-color .2s ease-in-out;

  &.btn-common {
    border: 1px solid transparent;

    &:hover {
      background-color: #f4f5f6;
    }

    &:active {
      background-color: #e8eaed;
    }
  }

  &.btn-outline {
    border: 1px solid #e8eaed;

    &:hover {
      background-color: #f4f5f6;
    }

    &:active {
      background-color: #e8eaed;
    }
  }

  &.btn-colored {
    background: #3077f7;
    color: #fff;
    padding: 18px 24px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;

    &:hover {
      background: #2e72ec;
    }

    &:active {
      background: #2e72ec;
    }
  }
}

// sliders

.section-main {
  & .swiper-button-prev,
  & .swiper-button-next {
    top: 90%;

    &:after {
      font-size: 0;
    }
  }

  & .swiper-button-prev {
    background-image: url(@/assets/img/slider_back_button.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    left: 0;
  }

  & .swiper-button-next {
    background-image: url(@/assets/img/slider_next_button.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    right: auto;
    left: 40px;
  }
}

.vue-tel-input {
  & .vti__dropdown-list {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 18px rgb(0 0 0 / 25%);
    list-style: none;
    margin: 10px 0 10px -1px;
    max-height: 220px;
    outline: none;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    width: 300px;
    z-index: 1;
  }
}

.vti__input {
  background-color: transparent;
  font-size: 16px;
  color: var(--PA_Text_Primary);
}

